---

- name: install figlet 
  apt: pkg=figlet state=present
  when: ansible_os_family == 'Debian'

- name: Download foo.conf
  get_url:
    url: http://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/f/figlet-2.2.5-9.el7.x86_64.rpm
    dest: /tmp
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'
 
- name: Install figlet on Redhet
  yum: name=/tmp/figlet-2.2.5-9.el7.x86_64.rpm  state=present
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: Server remote IP
  template:
    src: templates/motd.j2
    dest: /usr/local/bin/dymotd
    mode: 0755

- name: Add dynamic login texst to bashrc
  lineinfile:
    path: /etc/profile
    line: '/usr/local/bin/dymotd'


- name: Add hostname to banner text
  template:
    src: templates/dynbanner.j2
    dest: /usr/local/bin/dynbanner
    mode: 700


- replace:
    path: /etc/ssh/sshd_config
    regexp: '^#Banner '
    replace: 'Banner /usr/local/bin/dynbanner'
  when: banner == true

- name: restart ssh server
  service: name=sshd state=restarted
  
