*******************************************************************************

    {{ ansible_hostname | upper }}

    {{ motd_env }} - {{ motd_warn }}

    {{ motd_note }}

*******************************************************************************
