#!/bin/sh
[ -r /etc/lsb-release ] && . /etc/lsb-release

if [ -z "$DISTRIB_DESCRIPTION" ] && [ -x /usr/bin/lsb_release ]; then
    DISTRIB_DESCRIPTION=$(lsb_release -s -d)
fi

green=$(tput setaf 2)
blue=$(tput setaf 4)
red=$(tput setaf 1)
reset=$(tput sgr0)
COLUMNS=$(tput cols)

HASHCHAR=$(printf '%*s' "$COLUMNS" '' | tr ' ' '#')
ENV_LINE="{{ motd_env }} - {{ motd_warn }}"
NOTE_LINE="-->> {{ motd_note }} <<--"
ENV_LEN=$(echo -n "$ENV_LINE" | wc -c)
NOTE_LEN=$(echo -n "$NOTE_LINE" | wc -c)

figlet -tc "$(hostname)"
printf "\n"
printf "${red}%s${reset}\n" "$HASHCHAR"
printf "\n"
printf "${red}%*s${reset}\n" $(( (ENV_LEN + COLUMNS) / 2 )) "$ENV_LINE"
printf "\n"
printf "${red}%s${reset}\n" "$HASHCHAR"
printf "\n"
printf "${red}%*s${reset}\n" $(( (NOTE_LEN + COLUMNS) / 2 )) "$NOTE_LINE"
printf "\n"
printf "${green}OS:${reset}     %s\n" "$DISTRIB_DESCRIPTION"
printf "${green}Kernel:${reset} %s\n" "$(uname -r)"
printf "${green}Uptime:${reset} %s\n" "$(uptime -p)"
printf "\n"
