#!/bin/sh

[ -r /etc/lsb-release ] && . /etc/lsb-release

if [ -z "$DISTRIB_DESCRIPTION" ] && [ -x /usr/bin/lsb_release ]; then
        # Fall back to using the very slow lsb_release utility
        DISTRIB_DESCRIPTION=$(lsb_release -s -d)
fi

green=`tput setaf 2`
blue=`tput setaf 4`
reset=`tput sgr0`
SERVER_ENV_LENGHT=$(echo -n "{{env}}" | wc -c)
SERVER_WARN_LENGHT=$(echo -n "{{warn}}" | wc -c)
SERVER_NOTE_LENGHT=$(echo -n "{{note}}" | wc -c)
COLUMNS=$(tput cols)

HASHCHAR=$(printf '%*s\n' "$COLUMNS" '' | tr ' ' \#)

figlet -tc $(hostname)
printf "\n"

printf '\e[1;31m%*s\n\e[m' $((($COUNTOFHASH+$COLUMNS)/2)) "$HASHCHAR"
printf "\n"
printf '\e[1;31m%*s\n\e[m' $((($SERVER_ENV_LENGHT+$SERVER_WARN_LENGHT+$COLUMNS)/2)) "{{env}} - {{warn}}"
printf "\n"
printf '\e[1;31m%*s\n\e[m' $((($COUNTOFHASH+$COLUMNS)/2)) "$HASHCHAR"
echo
printf '\e[1;31m%*s\n\e[m' $(((8+$SERVER_NOTE_LENGHT+$COLUMNS)/2)) "-->> {{note}} <<--"
